stages:
  - start


start_job:
  stage: start
  tags:
    - local-telegram-bot
  before_script:
    - ps
    - kill $(ps aux | grep '[p]ython handlers.py' | awk '{print $2}')
    - ps
  script:
    - python3 handlers.py
  allow_failure: false

